body
{
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}


#pictwo {
height: 500px;
width : 500px;
padding-left:  1%;;

}


 
 .column {
   float: left;
   width: 33.33%;
   padding: 5px;
 }
 
 /* Clearfix (clear floats) */
 .row::after {
   content: "";
   clear: both;
   display: table;
 }
 #imagone
  {
width: 1000px;
height: 500px;

 }

 #optionsForCls
 {
  float: left;
  width: 30%;
  padding: 5px;


 }

 #imageone
 {
width: 2000px;

 }
 /* style for forms*//
 
 label  {
  width: 30%;
  
}

input[type=submit] {
  width: 40%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 08px;
  border: beige;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=Clear] {
  width: 40%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 8px;
  border: beige;
  border-radius: 4px;
  cursor: pointer;
}   

#cityBox
{
outline-style: solid;
color :purple
;



}