body
{
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  font-family: "Sofia", sans-serif;
  font-size: 30px;
  text-shadow: 3px 3px 3px #ababab;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPf4snAo5QQx4E_hxjemEfe3DPyNs1g8vsSw&usqp=CAU");
  color : firebrick
}


#pictwo {
height: 500px;
width : 500px;
padding-left:  1%;;

}


 
 .column {
   float: left;
   width: 33.33%;
   padding: 5px;
 }
 
 /* Clearfix (clear floats) */
 .row::after {
   content: "";
   clear: both;
   display: table;
 }
 #imagone
  {
width: 1000px;
height: 500px;

 }

 #optionsForCls
 {
  float: left;
  width: 30%;
  padding: 5px;


 }

 #imageone
 {
width: 2000px;

 }
 /* style for forms*//
 
 label  {
  width: 30%;
  
}

input[type=submit] {
  width: 40%;
  background-color: firebrick;
  color: white;
  padding: 14px 20px;
  margin: 8px 08px;
  border:firebrick;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: firebrick
}
input[type=reset] {
  width: 40%;
  background-color: firebrick;
  color: white;
  padding: 14px 20px;
  margin: 8px 08px;
  border: firebrick;
  border-radius: 4px;
  cursor: pointer;
}
input[type=reset]:hover {
  background-color: firebrick
}

h1{
  text-align: center;
  text-decoration: underline;
  color:firebrick
  

}  
p {
text-align: center;
color : firebrick

}
h2{
  text-align: center;
  color : firebrick

}



/* Centered text */
.centered {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 200%;
   text-decoration: underline;
}
